<!DOCTYPE html>


<script language="javascript" type="text/javascript">
function goBack() 
{
	window.location.replace('http://kramerj-final-project.appspot.com/');
	//window.location.replace('http://localhost:8080');
}
</script>


<html>
  <head>
    <title>Error Page</title>
   <link rel="stylesheet" type="text/css" href="/static/stylesheets/science.css">
  </head>

<body>
  <h1>Sorry, that Scientist is already entered into the datastore</h1>
  <h2>Please remember that:</h2>
  <h3>The datastore checks to see if all the entered attributes match an already entered Scientist.</h3>   
  <h3>Please enter a Scientist not already in the datastore.</h3> 
 
  <br>
  <br>
  <button class="error_back_button" onclick="goBack()">Back</button>
</body>

